/* reset & setup */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;1,100;1,200;1,300&family=Quicksand:wght@300;400;500&family=Source+Sans+Pro&display=swap');

:root {
    --headings-font: 'Quicksand', 'Source Sans Pro', sans-serif;
    --normal-font: 'Alegreya Sans', 'Source Sans Pro', sans-serif;
    --bg-color: #222222;
    --txt-color: #F2F2F2;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0px;
    padding: 0px;
    font: inherit;
    color: var(--txt-color);
    font-family: var(--normal-font);
}

body {
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main,
footer {
    max-width: 1024px;
    margin: auto;
}

main {
    padding: 5vh 6vw 0 6vw;
}

footer {
    position: relative;
    bottom: 0px;
    padding: auto 6vw 0 6vw;
    text-align: center;
}

html {
    color-scheme: dark light;
}

body {
    min-height: 100vh;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}


h1,
h2,
h3,
h4,
h5 {
    font-family: var(--headings-font);
}

/* type scale */

h1 {
    font-size: 98px;
    font-weight: 300;
    letter-spacing: -1.5px;
    position: relative;
    left: -4%;
}

h2 {
    font-size: 61px;
    font-weight: 300;
    letter-spacing: -0.5px;
    margin-top: 18px;
}

h3 {
    font-size: 49px;
    font-weight: 400;
    letter-spacing: 0px;
}

h4 {
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 0.25px;
}

h5 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0px;
}

h6 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.15px;
}

p,
li {
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 24px;
}

li {
    list-style: none;
}

.btn-a {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    min-width: 60px;
    text-transform: uppercase;
    padding: 9px 14px 7px;
    margin: 12px 12px 0 0;
    background-color: #555;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

@media screen and (max-width: 550px) {
    main {
        padding: 10px 30px;
    }

    h1 {
        font-size: 44px;
    }

    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 17px;
    }

    h6 {
        font-size: 16px;
    }

    p,
    li {
        font-size: 16px;
    }

    .btn-a {
        font-size: 16px;
        padding: 6px 10px 5px;
        margin: 5px 0px;
    }
}

/* classes */

.greeting {
    max-width: 350px;
    background: #555;
    text-align: center;
    border-radius: 4px;
    padding: 10px 0px;
    margin: 20px auto;
    font-size: 17px;
    font-weight: 200;
    font-style: italic;
}

.bio-date {
    font-weight: 700;
}

.project-container {
    display: flex;
    padding: 20px 0px;
}

.project-col1,
.project-col2 {
    width: 50%;
}

.project-preview {
    max-width: 80%;
    margin: 10px 0px;
}

@media screen and (max-width: 550px) {
    .project-preview {
        max-width: 80%;
    }
}

.btn-a:hover,
.btn-a:active,
.btn-a:focus {
    background-color: #888;
    color: black;
}
